@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

::-webkit-scrollbar {
    width: 12px; /* Width of the vertical scrollbar */
    height: 12px; /* Height of the horizontal scrollbar */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #ffffff; /* Bright white for the scrollbar thumb */
    border-radius: 6px; /* Rounded corners */
    border: 2px solid #333333; /* Add a border for contrast */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #e0e0e0; /* Slightly dimmer on hover */
  }
  
  ::-webkit-scrollbar-track {
    background-color: #444444; /* Darker track background for contrast */
    border-radius: 6px; /* Match the thumb's border-radius */
  }
